font-face{
    font-family: 'Particle';
    src: url('../assets/Particle-Regular.otf');
    font-display: swap;
}

*{
    font-family: 'Particle';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    color: #FFFFFF;
}

body{
    background-color: #101010;
    &::-webkit-scrollbar {
        display: none;
    }
    scrollbar-width: none;
}

button{
    cursor: pointer;
}
:root{
    --white: #FFFFFF;
    --black: #101010;
    --width: 5000px;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;   
}
