$width: 5000px;

.home{
    width: $width;
    height: 100vh;
    position: relative;
    z-index: 5;

    .content{
        position: absolute;
        top: 0;
        left: 0;
        width: $width;
        height: 100vh;
    }

}
.bg_close{
    width: $width;
    height: 100vh;
    background-image: url('../assets/sprites/background_close.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: 110px 0px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}   

.bg_far{
    width: $width;
    height: 100vh;
    background-image: url('../assets/sprites/background_far.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: 200px 0px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}     
