
.home{
    width: 3840px;
    height: 100vh;
    position: relative;
    z-index: 5;
    overflow-x: hidden;
    scroll-behavior: smooth;
    overflow-y: scroll;
}
.bg_close{
    width: var(--width);
    height: 100vh;
    background-image: url('../assets/sprites/background_close.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: 110px 0px;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}   

.bg_far{
    width: var(--width);
    height: 100vh;
    background-image: url('../assets/sprites/background_far.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: 200px 0px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}     
