.title{
    width: 98%;
    padding-left: 50px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 25px;
}

.content{
    width: 98%;
    display: grid;
    grid-template-columns: max-content 1fr;
    box-sizing: border-box;
    margin-top: 20px;


    .timeline{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-right: 20px;
        .circle{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: white;
        }
        .year{
            width: 50px;
            border: 2px solid white;
            border-radius: 20px;
            height: 120px;
            display: flex;
            align-items: center;
            justify-content: center;
            label{
                font-size: 0.6rem;
                letter-spacing: 0.15rem;
                transform: rotate(-90deg);
                margin-bottom: 10px;
                margin-right: 3px;
            }
        }
        .line{
            width: 2px;
            background-color: white;
            &:nth-child(2){
                height: 65px;
            }
            &:nth-child(4){
                height: 160px;
            }
            &:nth-child(6){
                height: 105px;
            }
            &:nth-child(8){
                height: 580px;
            }
            &:nth-child(10){
                height: 100px;
            }
        }
        .line_final{
            width: 2px;
            height: 100px;
            background: rgb(255,255,255);
            background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
        }

        [id=timeline]{
            animation: timeline 1s ease-out;
            animation-fill-mode: forwards;
            animation-play-state: paused;
            opacity: 0;
        }
    }
    .text{
        font-family: 'Montserrat', sans-serif !important;
        margin-left: 10px;
        .block{
            display: flex;
            align-items: center;
            margin-bottom: 50px;
            img{
                width: 300px;
                margin: 0px 20px;
                border-radius: 20px;
            }
            
        }
    }
    img{
        width: 100%;
        margin-bottom: 20px;
    }
}
p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 0.4rem;
    letter-spacing: 0.03rem;
    line-height: 1.4;
    span{
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 0.4rem;
        letter-spacing: 0.03rem;
        line-height: 1.4;
    }
}

[id=text]{
    animation: text 1s ease-out .5s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    opacity: 0;
    &:nth-child(1){
        animation-play-state: running;
    }
    &:nth-child(2){
        animation-play-state: running;
    }
}

@keyframes timeline {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes text {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
